In [6]:
import pandas as pd

In [110]:
df = pd.read_csv('vine_table.csv', low_memory=False)

In [111]:
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R135Q3VZ4DQN5N,5,0.0,0.0,N,Y
1,R2N0QQ6R4T7YRY,5,0.0,0.0,N,N
2,R3N5JE5Y4T6W5M,5,0.0,0.0,N,Y
3,R2I150CX5IVY9Q,5,0.0,0.0,N,Y
4,R1RM9ICOOA9MQ3,5,0.0,0.0,N,Y

In [112]:
df = df.loc[df['total_votes'] >= 20]
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y
1435,R36LII9IITE17,1,22.0,24.0,N,Y

In [113]:
df['helpful/total'] = df['helpful_votes']/df['total_votes']*100
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y,100.000000
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y,100.000000
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y,91.666667
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y,100.000000
1435,R36LII9IITE17,1,22.0,24.0,N,Y,91.666667

In [114]:
df = df.loc[df['helpful/total'] >= 50]
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y,100.000000
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y,100.000000
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y,91.666667
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y,100.000000
1435,R36LII9IITE17,1,22.0,24.0,N,Y,91.666667

In [115]:
df['vine'].value_counts()

N    7689
Y      21
Name: vine, dtype: int64

In [116]:
ydf = df.loc[df['vine'] == 'Y']
ydf.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
243667,R15PXA9XU9ZKSU,4,29.0,29.0,Y,N,100.000000
249955,R2LJ4QYQ4PYDEH,5,24.0,26.0,Y,N,92.307692
381970,R2PJWWQZ37WCIC,5,95.0,96.0,Y,N,98.958333
383020,R33G2VDKRN2USY,5,21.0,21.0,Y,N,100.000000
735448,R13R4X37T2U50A,4,52.0,57.0,Y,N,91.228070

In [117]:
ndf = df.loc[df['vine'] == 'N']
ndf.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y,100.000000
709,R5O4WE9UM60B0,1,29.0,29.0,N,Y,100.000000
1077,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y,91.666667
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y,100.000000
1435,R36LII9IITE17,1,22.0,24.0,N,Y,91.666667

In [137]:
#Total where vine == 'Y'
paid = ydf['vine'].count()
paid

21

In [138]:
#Total where vine == 'N'
unpaid = ndf['vine'].count()
unpaid

7689

In [139]:
#Total reviews
totalreviews = df['review_id'].count()
totalreviews

7710

In [123]:
df5 = df.loc[df['star_rating'] == '5']
df5.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y,100.000000
1398,R2OKV47GETH0L7,5,24.0,24.0,N,Y,100.000000
3161,R35VKNE16PFY0H,5,22.0,24.0,N,N,91.666667
3561,R3TG008LHHZZIN,5,123.0,125.0,N,Y,98.400000
3790,R2FYQBKCC1XG4M,5,20.0,20.0,N,Y,100.000000

In [135]:
#Number of 5-star reviews
star5count = df5['star_rating'].count()
star5count

4455

In [159]:
#percentage of 5-star reviews for the two types of review (paid)
ydf5 = df.loc[(df['vine'] == 'Y') & (df['star_rating'] == '5')]
paid5 = ydf5['vine'].count()
paid5/paid

0.5238095238095238

In [160]:
#percentage of 5-star reviews for the two types of review (unpaid)
ndf5 = df.loc[(df['vine'] == 'N') & (df['star_rating'] == '5')]
unpaid5 = ndf5['vine'].count()
unpaid5/unpaid

0.5779685264663805